## Extracting data from relatinal databases

### SQLite Database

#### Import package

In [12]:
# import sqlite3 package
import sqlite3

#### Connect to database

In [13]:
# create a connection to a database : create the database if not available
connection = sqlite3.connect("classroomDB.db")

#### create table

In [14]:
# open connection
connection = sqlite3.connect("classroomDB.db")

# open cursor
cursor = connection.cursor()
#query for creating table
create_table = """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR (20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

##### Insert data

In [15]:
# sample data
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                 (2, "Poonam", "F", 87, 69, 93),
                 (3, "Nik", "M", 65, 83, 90),
                 (4, "Rahul", "F", 83, 76, 89),]
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
    VALUES
    ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                 student[3], student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

##### extract data

In [16]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print results
for row in result:
    print(row)
# close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

## MySQL database

### install package

In [25]:
!conda install -y -q pymysql

Solving environment: ...working... done

# All requested packages already installed.

#### import package

In [32]:
import pymysql

#### connect to database

In [34]:
# Connection details (needs a AWS database to use the host address like this one: "'host': 'mysqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com'")
cnx = ('host': 'mysqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com',
      'username': 'test',
      'password': 'test123456',
      'db': 'classroomDB')


# Connect to the database
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])

# close database
connection.close()

SyntaxError: invalid syntax (<ipython-input-34-15cce34103cd>, line 2)

#### create table

In [30]:
# open connection
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR (20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

NameError: name 'cnx' is not defined

#### insert data

In [ ]:
# sample data
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                 (2, "Poonam", "F", 87, 69, 93),
                 (3, "Nik", "M", 65, 83, 90),
                 (4, "Rahul", "F", 83, 76, 89),]
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
    VALUES
    ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                 student[3], student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

#### extract data

In [24]:
# open connection
connection = pymysql.connect(cnx['host'], cns['username'], cnx['password'], cnx['db'])
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print results
for row in result:
    print(row)
# close connection
connection.close()

NameError: name 'cnx' is not defined

## Microsoft SQL Server database

#### install package

In [ ]:
!conda install -y -q pymssql

#### import package (para conectar, basta seguir os passos acima do mysql, com atenção ao fato de que precisa ter criado uma base na AWS previamente, para que seja possíve realizar a conexao)

In [ ]:
import pymssql